*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  min-height: 100vh;
  overflow: hidden;
}

html{
  font-size: 62.5%;
}

.App{
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-info{
background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
padding: 50px;
width: 400px;
}

.search-box{
  margin-top: 5rem;
  padding: 2.5rem;
}

.search-bar{
  width: 40rem;
  border:none;
  padding: 2rem 3.5rem;
  font-size: 20px;
  box-shadow:  0 2rem 4rem rgba(0, 0, 0, 0.12);
}

.location-box{
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.weather-box{
  text-align: center;
  padding: 1.5rem;
  font-size: 3rem;
}

.weather-box p{
  margin-top: 1rem;
}